@import url('http://fonts.googleapis.com/css2?family=Lato');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #3c3c3c;
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: bold;
    height: 100vh;
    width: 100vw;
}


.img-logo {
    width: 250px;
    height: 250px;
    position: absolute;
    object-fit: cover;
    object-position: center;
    top: 12%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    align-items: center;
    cursor: pointer;
}

.fraseSonho {
    color: aliceblue;
    position: absolute;
    padding: 1rem;
    align-items: center;
    text-align: center;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 15px;
}

.headerAgende {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-65%, -50%);
    align-items: center;
    width: 300px;
    height: 200px;
    border-radius: 15px;
}

.btn-actions {
    position: absolute;
    left: 50px;
}

button {
    background-color: rgb(210, 16, 16);
    color: aliceblue;
    width: 400px;
    height: 55px;
    text-align: center;
    align-items: center;
    border: 2px solid #3c3c3c;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}

button:hover {
    background-color: #FFC222;
    cursor: pointer;
}


footer {
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 10px;
    width: 100%;
    bottom: 0%;
}

footer>div {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
}

footer>p {
    justify-content: center;
    margin-top: 5px;
    text-align: center;
    text-decoration: none;
    color: aliceblue;
}

footer>h3 {
    color: aliceblue;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 10px;
}

/* Responsividade */

@media (max-width: 480px) {

    .img-logo {
        width: 215px;
        height: 215px;
    }

    .fraseSonho {
        font-size: 14px;
        position: absolute;
        top: 190px;
    }

    .headerAgende {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        align-items: center;
    }

    button {
        width: 400px;
        height: 55px;
        max-width: 100%;
    }

    .btn-actions {
        position: absolute;
        left: 28px;
    }

    footer > h3 {
        align-items: center;
        text-align: center;
    }
}